
body{
    margin: 0px;
    background: #fcfcfc;
  }

  main{
    position: absolute;
   /* left: 200px;*/
  }
  
  a.imgbox{
    text-decoration: none;
  }
  
  #photogrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 150px;
  }
  
  .imgbox {
    display: flex;
    width: 250px;
    height: 250px;
    flex-grow: 1;
    /* border: 0px; */
    margin: 15px;
    /* box-shadow: 0px 0px 0px 5000px rgba(0,0,0,.5) inset; */
    transition: transform 200ms;
    -moz-transition: -moz-transform 200ms; 
    -webkit-transition: -webkit-transform 200ms; 
    -o-transition: -o-transform 200ms;
    justify-content: center;
    align-items: flex-end;
    opacity: .6;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 3px #808080;
  }
  
  
  
  .box1 {
    background: url("/traveller.github.io/001.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box2 {
    background: url("/traveller.github.io/002.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box3 {
    background: url("/traveller.github.io/003.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box4 {
    background: url("/traveller.github.io/004.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box5 {
    background: url("/traveller.github.io/005.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box6 {
    background: url("/traveller.github.io/006.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box7 {
    background: url("/traveller.github.io/007.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box8 {
    background: url("/traveller.github.io/008.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box9 {
    background: url("/traveller.github.io/009.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box10 {
    background: url("/traveller.github.io/010.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box11 {
    background: url("/traveller.github.io/011.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box12 {
    background: url("/traveller.github.io/012.jpg");
    background-position: center center;
    background-size: cover;  
  }


  
  .box13 {
    background: url("/traveller.github.io/013.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box14 {
    background: url("/traveller.github.io/014.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box15 {
    background: url("/traveller.github.io/015.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box16 {
    background: url("/traveller.github.io/016.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box17 {
    background: url("/traveller.github.io/017.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box18 {
    background: url("/traveller.github.io/018.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box19 {
    background: url("/traveller.github.io/019.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box20 {
    background: url("/traveller.github.io/020.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box21 {
    background: url("/traveller.github.io/021.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box22 {
    background: url("/traveller.github.io/022.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box23 {
    background: url("/traveller.github.io/023.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box24 {
    background: url("/traveller.github.io/024.jpg");
    background-position: center center;
    background-size: cover;  
  }

  .box25 {
    background: url("/traveller.github.io/025.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box26 {
    background: url("/traveller.github.io/026.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box27 {
    background: url("/traveller.github.io/027.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box28 {
    background: url("/traveller.github.io/028.jpg");
    background-position: center center;
    background-size: cover;  
  }




  .box29 {
    background: url("/traveller.github.io/029.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box30 {
    background: url("/traveller.github.io/030.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box31 {
    background: url("/traveller.github.io/031.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box32 {
    background: url("/traveller.github.io/032.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box33 {
    background: url("/traveller.github.io/033.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box34 {
    background: url("/traveller.github.io/034.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box35 {
    background: url("/traveller.github.io/035.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box36 {
    background: url("/traveller.github.io/036.JPG");
    background-position: center center;
    background-size: cover;  
  }
  
  .box37 {
    background: url("/traveller.github.io/037.JPG");
    background-position: center center;
    background-size: cover;  
  }
  
  .box38 {
    background: url("/traveller.github.io/038.JPG");
    background-position: center center;
    background-size: cover;  
  }
  
  .box39 {
    background: url("/traveller.github.io/039.JPG");
    background-position: center center;
    background-size: cover;  
  }
  
  .box40 {
    background: url("/traveller.github.io/040.JPG");
    background-position: center center;
    background-size: cover;  
  }

  .box41 {
    background: url("/traveller.github.io/041.JPG");
    background-position: center center;
    background-size: cover;  
  }
  
  .box42 {
    background: url("/traveller.github.io/042.JPG");
    background-position: center center;
    background-size: cover;  
  }
  
  .box43 {
    background: url("/traveller.github.io/043.JPG");
    background-position: center center;
    background-size: cover;  
  }
  
  .box44 {
    background: url("/traveller.github.io/044.JPG");
    background-position: center center;
    background-size: cover;  
  }
  .box45 {
    background: url("/traveller.github.io/045.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box46 {
    background: url("/traveller.github.io/046.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box47 {
    background: url("/traveller.github.io/047.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box48 {
    background: url("/traveller.github.io/048.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box49 {
    background: url("/traveller.github.io/049.jpg");
    background-position: center center;
    background-size: cover;  
  }
  


  .box50 {
    background: url("/traveller.github.io/050.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box51 {
    background: url("/traveller.github.io/051.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box52 {
    background: url("/traveller.github.io/052.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box53 {
    background: url("/traveller.github.io/053.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box54 {
    background: url("/traveller.github.io/054.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box55 {
    background: url("/traveller.github.io/055.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box56 {
    background: url("/traveller.github.io/056.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box57 {
    background: url("/traveller.github.io/057.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box58 {
    background: url("/traveller.github.io/058.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box59 {
    background: url("/traveller.github.io/059.jpg");
    background-position: center center;
    background-size: cover;  
  }





  .box60 {
    background: url("/traveller.github.io/060.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box61 {
    background: url("/traveller.github.io/061.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box62 {
    background: url("/traveller.github.io/062.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box63 {
    background: url("/traveller.github.io/063.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box64 {
    background: url("/traveller.github.io/064.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box65 {
    background: url("/traveller.github.io/065.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box66 {
    background: url("/traveller.github.io/066.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box67 {
    background: url("/traveller.github.io/067.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box68 {
    background: url("/traveller.github.io/068.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box69 {
    background: url("/traveller.github.io/069.jpg");
    background-position: center center;
    background-size: cover;  
  }







  .box70 {
    background: url("/traveller.github.io/070.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box71 {
    background: url("/traveller.github.io/071.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box72 {
    background: url("/traveller.github.io/072.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box73 {
    background: url("/traveller.github.io/073.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box74 {
    background: url("/traveller.github.io/074.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box75 {
    background: url("/traveller.github.io/075.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box76 {
    background: url("/traveller.github.io/076.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box77 {
    background: url("/traveller.github.io/077.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box78 {
    background: url("/traveller.github.io/078.jpg");
    background-position: center center;
    background-size: cover;  
  }
  
  .box79 {
    background: url("/traveller.github.io/079.jpg");
    background-position: center center;
    background-size: cover;  
  }










  
  .imgbox:hover {  
    transform: scale(1.03);
    -moz-transform: scale(1.03);
    -webkit-transform:  scale(1.03);
    -o-transform: scale(1.03);
    /* box-shadow: 0px 0px 0px 9000px rgba(0,0,0,0) inset; */
    /* box-shadow: 0px 0px 0px 1px grey inset; */
    opacity: 1;
  }
  
  
  .imgbox:hover .boxtitle {
    visibility: visible;
  }
  
  
  .lightbox {
      display: none;
      position: fixed;
      z-index: 999;
      width: 100%;
      height: 100%;
      text-align: center;
      top: 0;
      left: 0;
      background: rgba(0,0,0,.5);
  }
  
  .lightbox:target {
      outline: none;
      display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .lightbox img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
    /*border: solid 2px grey;*/
  }

  
