@media(max-width:1024px){

    .top_metadata{
        width:100%;
        position:absolute;
        padding:42px 0px 0px 0px;
        display:flex;
        flex-flow: row nowrap;
        justify-content:flex-end;
        align-items: center;
    }
    .top_search{
        border: 2px solid #FCFCFC;
        box-sizing: border-box;
        border-radius: 30px;
        display:flex;
        width: 150px;
        height: 40px;
    }
    .top_search_font{
        position: absolute;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        padding-left: 50px;
        padding-top: 10px;
        color: #FCFCFC;
    }
    .top_search_icon{
        width:25px;
        height:20px;
        position:relative;
        padding-top:10px;
        padding-left:20px;
    }

    .top_search_icon_round{
        background: rgba(252, 252, 252, 0.2);
        border: 2px solid #FCFCFC;
        border-radius: 7.5px;
        box-sizing: border-box;
        width: 15px;
        height: 15px;
        position: absolute;

    }

    .top_search_icon_vertical{
        background: #FCFCFC;
        border-radius: 10px;
        transform: rotate(-141.44deg);
        width: 12px;
        height: 2px;
        position: absolute;
        left: 30.5px;
        top: 23px;
    }
    .top_hamburger{
        display:inline-block;
        width:50px;
        height:20px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .top_hamburger>div{
        margin-bottom: 10px;
        width: 50px;
        height: 3px;
        background: #FFFFFF;
        border-radius: 20px;
    }
    .top_hamburger>div:last-child{
        margin-bottom: 0px;
    }
}
